@import "style";

$fullWidth: 1080px; 

.page {
  max-width: $fullWidth;
  width: 100%;
  margin: auto;
}

.site-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
