@import "style";

$fullWidth: 1080px;
$darkGreen: #003300;

h2 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.site {
	max-width: $fullWidth;
	width: 100%;
	margin: auto;
}

.site-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.nav-menu {
	display: flex;
	list-style-type: none;
	padding: 1em;
	font-size: small;
	li {
		margin-left: 0.5em;
	}
	a {
		padding: 0.5em;
		color: black;
		text-decoration: none;
	}
	.current-menu-item a,
	a:hover {
		color: $darkGreen;
		border-bottom: 2px solid $darkGreen;
	}
}

.box {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid grey;
	p {
		margin: 0;
	}
}

.unimplemented, a[href="#"] {
	background-color: #FFEEEE;
}

.site-title {
	&__link {
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.6;
		}
	}
	&__logo {}
}

.accordion {
	color: #666;
	background-color: #F6F6F6;
	border: 1px solid #EEE;
	border-radius: 5px;
	> p {
		display: none;
	}
}
.accordion-title {
	vertical-align: middle;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0.5em;
	padding-left: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: #EEE;
	}
	&:not(:first-of-type) {
		border-top: 1px solid #EEE;
	}
	&:before {
		content: '+';
		font-family: monospace;
		font-size: 24px;
		line-height: 24px;
		margin-right: 0.5em;
	}
	&.open:before {
		content: '-';
	}
}
.accordion-content {
	padding: 2em 1em;
	border-top: 1px solid #EEE;
}

.connect-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	&__zoom {}
	&__slack {}
}

.simplemodal-login {
	line-height: 70px;
}

.error-404 #loginform {
	label {
		display: inline-block;
		min-width: 150px;
		text-align: right;
		padding-right: 1em;
	}
	.login-remember, .login-submit {
		margin-left: 150px;
		label {
			text-align: left;
		}
	}
}
